langchain-community==0.3.27
langchain-core==0.3.81
langchain-openai==1.1.14
langchain-anthropic==0.1.4
langsmith==0.7.31
pypdf==6.6.2
pytest==9.0.3
pytest-mock==3.12.0
spacy==3.7.4
nltk==3.9.4
kor==1.0.1
spacy-llm==0.7.3
stix2==3.0.1
flair==0.13.1
