langchain-community==0.0.25
langchain-core==0.1.29
langchain-openai==0.0.8
langchain-anthropic==0.1.4
langsmith==0.1.12
pypdf==4.1.0
pytest==8.1.1
pytest-mock==3.12.0
spacy==3.7.4
nltk==3.8.1
kor==1.0.1
spacy-llm==0.7.1
stix2==3.0.1
flair==0.13.1