# AI STUFF
kor==1.0.1
langchain==0.3.10
openai==1.13.3
spacy==3.7.4
spacy-llm==0.7.1
# WEB STUFF
Django==5.0.11
django-ninja==1.1.0
psycopg[binary]
django-environ==0.11.2
django-allauth==0.61.1
django-crispy-forms==2.1  
crispy-bootstrap5==2024.2


