# AI STUFF
kor==1.0.1
langchain==0.3.30
openai==1.13.3
spacy==3.7.4
spacy-llm==0.7.3
# WEB STUFF
Django==5.1.15
django-ninja==1.1.0
psycopg[binary]
django-environ==0.11.2
django-allauth==65.14.1
django-crispy-forms==2.1  
crispy-bootstrap5==2024.2


