:root {
    --color-1: #bf6489;
    --color-2: #6cbb4c;
    --color-3: #8862c9;
    --color-4: #c4af49;
    --color-5: #d053ad;
    --color-6: #638b3d;
    --color-7: #d44149;
    --color-8: #53c4ad;
    --color-9: #d77a2d;
    --color-10: #6c8ccd;
    --color-11: #8f7838;
    --color-12: #3c8d62;
    --color-13: #c16c4f;
    /* Lilac */
    --color-14: #FBE4D5;
    /* Cream */
    --color-15: #D6E5E3;
    /* Powder Blue */
    --color-16: #EDE7B1;
    /* Pale Lemon */
    --color-17: #F4BFBF;
    /* Soft Coral */
    --color-18: #B5EAD7;
    /* Tea Green */
    --color-19: #FFDACC;
    /* Melon */
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Aligns items to the start of the container */
}

#nerForm {
  position: fixed;
  margin-left: -160px;
  width: 150px;
}

#text-container {
  margin: 1em;  
}

span.highlight{
  transition: all 0.3s ease;
  /* Change this to your preferred highlight color */
  /* Optional: Adds a border around the highlighted text */
  padding: 4px 6px;
  /* Optional: Adds some space around the text inside the span */
}

/* General style for all entity types */
span {
  padding: 2px 4px;
}

.btn-check + .btn {
  border-radius: 0;
}

/* Malware */
 .ent-malware, .btn-check + .btn.ent-malware:hover {
  background-color: var(--color-1);
}

/* Threat Actor */
 .ent-threat_actor, .btn-check + .btn.ent-threat_actor:hover {
  background-color: var(--color-2);
}

/* Software */
 .ent-software, .btn-check + .btn.ent-software:hover {
  background-color: var(--color-12);
}

/* TTP */
 .ent-ttp, .btn-check + .btn.ent-ttp:hover {
  background-color: var(--color-4);
}

/* OS */
 .ent-os, .btn-check + .btn.ent-os:hover {
  background-color: var(--color-5);
}

/* Hardware */
 .ent-hardware, .btn-check + .btn.ent-hardware:hover {
  background-color: var(--color-6);
}

/* Username */
 .ent-username, .btn-check + .btn.ent-username:hover {
  background-color: var(--color-7);
}

/* Organization */
 .ent-organization, .btn-check + .btn.ent-organization:hover {
  background-color: var(--color-8);
}

/* Sector */
 .ent-sector, .btn-check + .btn.ent-sector:hover {
  background-color: var(--color-9);
}

/* Geo Location */
 .ent-geo_location, .btn-check + .btn.ent-geo_location:hover {
  background-color: var(--color-10);
}

/* Exploit Name */
 .ent-exploit_name, .btn-check + .btn.ent-exploit_name:hover {
  background-color: var(--color-11);
}

/* Date */
 .ent-date, .btn-check + .btn.ent-date:hover {
  background-color: var(--color-12);
}

/* Time */
 .ent-time, .btn-check + .btn.ent-time:hover {
  background-color: var(--color-13);
}

.remove-btn {
    display: none; /* Hide by default */
    margin-left: 8px;
    cursor: pointer;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background-color: #fff;
    color: #333;
}

span[data-entity]:hover .remove-btn {
    display: inline; /* Show on hover */
}

.invisible {
    display: none;
}

/* OLD  ..... */

body {
    line-height: 2em;
}

.match-list {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
    gap: 10px; /* Adds space between items */
}


.match {
    border-radius: 5px;
    padding: .2em .5em;
    position: relative;
    transition: all 0.3s ease;
}
